:root {
  --blue-color: rgb(0, 117, 255);
  --blue-alt-color: #0d69d5;
  --orange-color: rgb(245, 158, 11);
  --green-color: rgb(34, 197, 94);
  --red-color: rgb(244, 67, 54);
  --grey-color: #888;
}
/* start Box */
.d-block {
  display: block;
}
.w-fit {
  width: fit-content;
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}

.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
}
/* End Box */

/* start layout */
.m-0 {
  margin: 0;
}
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.m-30 {
  margin: 30px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-15 {
  margin-right: 15px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.p-30 {
  padding: 30px;
}
.pt-10 {
  padding-top: 15px;
}
.pt-10 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pl-15 {
  padding-left: 15px;
}
.w-100 {
  width: 100%;
}
/* end layout */
/* start typography */
.f-bold {
  font-weight: bold;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-20 {
  font-size: 20px;
}
.text-c {
  text-align: center;
}
.fw-bold {
  font-weight: bold;
}
.fw-normal {
  font-weight: normal;
}
@media (max-width: 767px) {
  .text-c-mobile {
    text-align: center;
  }
  .w-full-mobile {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
/* end typogaphy */
/* start colors */
.c-black {
  color: black;
}
.c-white {
  color: white;
}
.c-gray {
  color: #888;
}
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-red {
  background-color: var(--red-color);
}
.bg-green {
  background-color: var(--green-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-green {
  color: var(--green-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-red {
  color: var(--red-color);
}
/* end colors */
/* start position */
.p-relative {
  position: relative;
}
/* end position */
/* start border */
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.b-none {
  border: none;
}
.b-ccc {
  border: 1px solid #ccc;
}
/* end border */
/* start components */
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
/* end components */
